<div class="footer-navbar-wrapper footer-default" role="contentinfo" data-ng-controller="footerController">
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row links-section">
                        <div class="col-md-3">
                            <ul class="list-unstyled m-lg-bottom">
                                <li><a href="/info/about/">About Us</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3">
                            <ul class="list-unstyled m-lg-bottom">
                                <li><a href="info/help" >Help and Support</a></li>
                             </ul>
                        </div>
                        
                        <div class="col-md-3">
                            <ul class="list-unstyled m-lg-bottom">
                                <li><a href="/info/terms/">Terms of Service</a></li>                
                            </ul>
                        </div>
                        
                        <div class="col-md-3">
                            <ul class="list-unstyled m-lg-bottom">
                                <li><a href="/info/feedback">Feedback</a></li>
                        </div>
                    </div>
                
                    <div class="row service-code-section">
                        <div class="col-md-3">
                            <div class="display-inline-block" data-eo-service-code></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="social-icons-wrapper text-center">
                                            <a href="https://plus.google.com/" target="_self"><span class="glyphicon glyphicon-md air-icon-social-google-plus"></span></a>
                                            <a href="https://twitter.com/" target="_self"><span class="glyphicon glyphicon-md air-icon-social-twitter"></span></a>
                                            <a href="https://www.facebook.com/" target="_self"><span class="glyphicon glyphicon-md air-icon-social-facebook"></span></a>
                                            <a href="https://www.linkedin.com/" target="_self"><span class="glyphicon glyphicon-md air-icon-social-linkedin"></span></a>
                    </div>
                    <p class="text-center copyright">&copy; 2018 Freecycle Distribution Project.</p>
                </div>
            </div>
        </div>
    
    </body>
</html>