<div class="footer-navbar-wrapper footer-default" role="contentinfo" data-ng-controller="footerController">
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row links-section">
                                        <div class="col-md-3">
                            <ul class="list-unstyled m-lg-bottom">
							<br><br>
                                                                                <li><a href="/info/about/" target="_self">About Us</a></li>
                                                                                                        <li><a href="/blog/" target="_self">Blog</a></li>
                                                                                                        <li data-ng-click="feedback()"><a href="javascript:">Feedback</a></li>
                                                                        </ul>
                        </div>
                                        <div class="col-md-3">
                            <ul class="list-unstyled m-lg-bottom">
							<br><br>
                                                                                <li><a href="http://community.upwork.com" target="_self">Community</a></li>
                                                                                                        <li><a href="/info/trust_and_safety/" target="_self">Trust &amp; Safety</a></li>
                                                                                                        <li><a href="https://support.upwork.com/login" target="_self">Help &amp; Support</a></li>
                                                                        </ul>
                        </div>
                                        <div class="col-md-3">
                            <ul class="list-unstyled m-lg-bottom">
							<br><br>
                                                                                <li><a href="/legal/terms/" target="_self">Terms of Service</a></li>
                                                                                                        <li><a href="/legal/privacy/" target="_self">Privacy Policy</a></li>
                                                                                                        <li><a href="/downloads?source=Footer" target="_self">Desktop App</a></li>
                                                                        </ul>
                        </div>
                                        <div class="col-md-3">
                            <ul class="list-unstyled m-lg-bottom">
							<br><br>
                                                                                <li><a href="/info/terms/cookie-policy" target="_self">Cookie Policy</a></li>
                                                                                                        <li><a href="/info/advisory/" target="_self">Enterprise Solutions</a></li>
                                                                                                        <li><a href="/hiring" target="_self">Hiring Headquarters</a></li>
                                                                                                        <li><a href="/mobile/" target="_self">Mobile</a></li>
                                                                        </ul>
                        </div>
                                    </div>
                    <div class="row service-code-section">
                        <div class="col-md-3">
                            <div class="display-inline-block" data-eo-service-code></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="social-icons-wrapper text-center">
                                            <a href="https://plus.google.com/107040851368295259701" target="_self"><span class="glyphicon glyphicon-md air-icon-social-google-plus"></span></a>
                                            <a href="https://twitter.com/Upwork" target="_self"><span class="glyphicon glyphicon-md air-icon-social-twitter"></span></a>
                                            <a href="https://www.facebook.com/upwork" target="_self"><span class="glyphicon glyphicon-md air-icon-social-facebook"></span></a>
                                            <a href="https://www.linkedin.com/company/upwork" target="_self"><span class="glyphicon glyphicon-md air-icon-social-linkedin"></span></a>
                                    </div>
                    <p class="text-center copyright">
                        &copy; 2018 Freecycle Distribution Project.
                    </p>
                </div>
            </div>
        </div>
            </footer>    
    
    
    </body>
</html>