<!DOCTYPE html>
<html>
    <head>
      <title>Time Bank</title>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.js"
            integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
            crossorigin="anonymous">
        </script>
	<script src="/socket.io/socket.io.js"></script>
	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>-->	
	<meta name="userFirstName" content=<%=currentUser.firstName%>>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <a class="navbar-brand" href="/home">
            <img src="http://i64.tinypic.com/mhulvp.jpg" width="40" height="40" >
            </a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="bootstrap-overrides">
                        <li class="nav-item" id="home">
                            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" id="requests">
                            <a class="nav-link" href="/requests">Requests</a>
                        </li>
                        <li class="nav-item" id="offers">
                            <a class="nav-link" href="/offers">Offers</a>
                        </li>
                        <li class="nav-item" id="store">
                            <a class="nav-link" href="/store">Store</a>
                        </li>
                        <li class="nav-item" id="members">
                            <a class="nav-link" href="/users">Members</a>
                        </li>
                        <li class="nav-item" id="messages">
                            <a class="nav-link" href="/messages">Messages</a>
                        </li>
                    </ul>

                    <form action="" id="searchForm" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Find Offers/Requests" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
        
                    <ul class="navbar-nav" id="bootstrap-overrides">
                        <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
                        <li class="nav-item dropdown"> 
                            <a href="" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= currentUser.firstName %></a>
                            <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                                <a class="dropdown-item" href="/account">Account</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        
