<% include partials/header %>

<div class="container">
<div class="newPostForm1">
<h1>About</h1>
<div style="margin:0px 60px 0px 60px;text-align:left">
<h5 style="line-height:40px;font-family:Georgia;font-weight:300;font-size:25px;">&nbsp&nbsp&nbsp&nbspHi, we are The Time Bankers. <br>&nbsp&nbsp&nbsp&nbspThis is The Freecycle Distribution Project for creating a time-exchange community beside us.<br>
&nbsp&nbsp&nbsp&nbspWe are aiming to realize a time exchange in which people either offer up their own services in exchange for some number of hours or request services from others for some number of hours. 
 The number of hours each person has is displayed on their own page, as well as their contact information, so that others can check that they actually have enough hours to pay for the services. 
 Both parties - the service requester and the service provider - initially agree to a set number of hours in exchange for a service. The hours is then held separately / frozen. 
 After a service is completed, the frozen hours will be released to the service provider. 
 The frozen hours can also be released in parts after the completion of each part of the service. <br>
 &nbsp&nbsp&nbsp&nbspMaterials can also exchange for time. 
 Our web users who have materials that are not in use can upload the information about the material and the administrator will decide how much time does it worth according to the condition of the material. 
 Most of the source may come from students who gonna leave the campus and there will be a lot of furnitures can not be taken away.<br>
 &nbsp&nbsp&nbsp&nbspFor the time exchange to work, there would need to be enough “hours” in circulation. 
 So the administrator will get all new users started by giving them a certain number of free “hours” that they can then start trading. 
 
</h5></div>

</div>
</div>


<% include partials/footer %>