<% include partials/header %>

    <div class="container">
        <h1>Your Account</h1>
        <h4><%= user.firstName %></h4>
        <h6><%= user.lastName %></h6>
        <h6>Your Hours: <%= user.userHours %></h6>

        <a href="/home%>">Go Home</a>
    </div>

<% include partials/footer %>