<% include partials/header %>

    <div class="container">
        <h1>Your Account</h1>
		<div>
		<div id="editinfo">
		<a href="/home%>">Edit your profile</a>
		</div>
		<div>
		<img  src="/static/images/noProfilePic" width="150px" height="150px">
		</div>
		<div id="userinfo" >
        <h4><%= user.firstName %></h4>
        <h6><%= user.lastName %></h6>
		<h6>Your Hours: <%= user.userHours %></h6>
		<h6>Email:</h6>
		<h6>Hometown:</h6>
		<h6>User's Bio:</h6>
		<div id="userbio1">
		
		</div>
        
		
		<br><br>
		<div class="listingBoxH" id="statement" >
<h5>Statement History:</h5>
<ul>
<li>
This is a placeholder.
</li>
</ul>
</div>
</div>
		</div>
        <a href="/home%>">Go Home</a>
    </div>

<% include partials/footer %>