<% include partials/header %>
<div class="container">
<div class="newPostForm1">
<h1>Feedback</h1>
<h5>Hi, please follow <span><a href="https://brown.co1.qualtrics.com/jfe/form/SV_0095MDAMS9ddmXX">this link</a></span> to do a 2-minute quesionnaire, we are looking forward to your suggestions.</h5>
</div>
</div>


<% include partials/footer %>