<% include partials/header %>

    <div class="container">
        <h1> Welcome to Time Bank, <%= currentUser.firstName %>! </h1>

        <div><a href="/requests">See all requests</a></div>
        <div><a href="/offers">See all offers</a></div>
    </div>

<% include partials/footer %>