<% include partials/header %>

<div class="container">
<div id="homepage">
<h1> Welcome to the FDP Time Exchange, <%= currentUser.username %>! </h1>

<!-- <div><a href="/requests">See all requests</a></div>
<div><a href="/offers">See all offers</a></div> -->

<h3>My Accepted Offers</h3>
<div class="listingBoxV" id="acceptedAssignments">
<h5>Current Accepted Services:</h5>
<ul>
<li>
This is a placeholder.
</li>
</ul>
</div>
<div class="listingBoxV" id="pastAssignments">
<h5>Past Fulfilled/Closed Services:</h5>
<ul>
<li>
This is a placeholder.
</li>
</ul>
</div>
<br><br>
<h3>My Accepted Requests</h3>
<div class="listingBoxV" id="userRequests">
<h5> Current Accepted Requests: </h5>
<ul>
<li>
This is a placeholder.
</li>
</ul>
</div>
<div class="listingBoxV" id="userOffers">
<h5>Past Fulfilled/Closed Requests: </h5>
<ul>
<li>
This is a placeholder.
</li>
</ul>
</div>
<br><br>
<h4><a href="/response" >See responses you have submitted</a></h4>
</div>
</div>
<br><br><br><br>
<script>
    $( "#home" ).addClass( "selected" );
</script>

<% include partials/footer %>
