<!DOCTYPE html>
<html>
    <head>
        <title>Freecycle Distribution Project</title>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.js"
            integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
            crossorigin="anonymous">
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ultra">
	<link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
      <div class="container">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
      </div>
      <div id="landingPageEntirety">
	<div id="landingPageCover">
          <div id="landingHeader">
	    <h1>The Freecycle Distribution Project</h1>
    </div>
	  <div id="landingLoginBox">
	    <h2>Login</h2>
            <form action="/login" method="POST">
              <input type="text" placeholder="Username" name="username" required>
	      <br>
	      <br>
              <input type="password" placeholder="Password" name="password" required>
	      <br>
              <button type="submit">Login</button>
            </form>
        <br>
        <a href="/forgot">Forgot your password?</a>
            <div id="landingSignUp"><b>Don't have an account?</b><br><br><a href="/register"> Sign up</a></div>
          </div>
  </div>
  
  <script>
    $( "#home" ).addClass( "selected" );
</script>
	<!-- <div id="landingFooter">
	</div> -->
      </div>
    </body>
</html>
