<% include partials/header %>
   <h1> Messages </h1>
   <hr>
   <br>
   <div id="startNewChat">
   <form action="/messages" method="POST">
   	 Open a chat: <input type="text" id="toUser" name="message[toUser]" placeholder="Member's email">
   	 <input type="submit" id="submitButton" value="Open">
   </form>
   </div>
   <br>
   <hr>
   <br>
   <div id="allChats">
	<h4> Previous Messages </h4><br>
        <% allMessages.forEach(function(message){ %>
	   <a href="/messages/<%= message.chatGroup %>">
	   <div class="indivChat">
	   	<% if (message.senderA.displayName == thisUserDisplayName) { %>
	      		<%= message.senderB.displayName %></a>
		<% } else { %>
	   		<%= message.senderA.displayName %></a>
		<% } %>
	   </div>
	   </a><br>
	<% }); %>
   </div>

   <script>
        $( "#messages" ).addClass( "selected" );
    </script>
<% include partials/footer %>
