<% include partials/header %>
   <h1> Messages </h1>
   <hr>
   <br>
   <div id="startNewChat">
   <form action="/search/users" id="searchForm" method="GET">
         <input type="text" style="height:40px;border-radius:5px;" placeholder="Find a user" name="searchContent" value="" required>
         <button class="btn btn-primary" type="submit">Search</button>
   </form>
   </div>
   <br>
   <hr>
   <br>
   <div id="allChats">
	<h4> Previous Messages </h4><br>
        <% allMessages.forEach(function(message){ %>
	   <a href="/messages/<%= message.chatGroup %>">
	   <div class="indivChat">
	   	<% if (message.senderA.displayName == thisUserDisplayName &&
		       message.message.length != 0) { %>
	      		<%= message.senderB.displayName %> :
			<% if (message.senderA.seenMessages) { %>
			      No new Messages.
			<% } else { %>
			      ALERT: New Message!
			<% } %>
			</a>
		<% } else if (message.message.length != 0) { %>
	   		<%= message.senderA.displayName %> :
			<% if (message.senderB.seenMessages) { %>
			      No new Messages.
			<% } else { %>
			      ALERT: New Message!
			<% } %>
			</a>
		<% } %>
	   </div>
	   </a><br>
	<% }); %>
   </div>

   <script>
        $( "#messages" ).addClass( "selected" );
    </script>
<% include partials/footer %>
