<% include partials/header %>

    <a href="/offers" class="btn btn-primary" id="backButton">Back</a>
    <div class="container">
        <h1>Create a New Offer</h1>
	<div class="newPostForm">
        <form action="/offers" method="POST">
            <input type="text" name="offer[title]" placeholder="Enter title here."><br><br>
            <input type="text" name="offer[desc]" placeholder="Enter description"><br><br>
            <input type="number" name="offer[hoursOffered]" placeholder="Enter hours offered"><br><br>
            <input type="text" name="offer[category]" placeholder="Enter category"><br><br>
            <button>Submit</button>
        </form>
	</div>
    </div>

    <script>
        $( "#offers" ).addClass( "selected" );
    </script>

<% include partials/footer %>