<% include partials/header %>
    <a href="/requests" class="btn btn-primary" id="backButton">Back</a>	
    <div class="container">
        <h1>Create a New Request</h1>

	<div class="newPostForm">	
        <form action="/requests" method="POST">
            <input type="text" name="request[title]" placeholder="Enter title"><br><br>
            <input type="text" name="request[desc]" placeholder="Enter description">
	    <br><br>
	    <button>Submit</button>
        </form>
	</div>
    </div>

    <script>
        $( "#requests" ).addClass( "selected" );
    </script>

<% include partials/footer %>