<% include partials/header %>

    <a href="/store" class="btn btn-primary" id="backButton">Back</a>
    <div class="container">
        <h1>Post a New Item</h1>
	<div class="newPostForm">
        <form action="/store" enctype="multipart/form-data" method="POST">
            <input type="text" name="title" placeholder="Enter title here." required><br><br>
            <input type="text" name="desc" placeholder="Enter description" required><br><br>
            <input type="number" name="hourPrice" placeholder="Enter hour price" required><br><br>
            <p>Category:</p>
            <select name="category" required>
                <option value="categoryA">categoryA</option>
                <option value="categoryB">categoryB</option>
                <option value="categoryC">categoryC</option>
                <option value="categoryD">categoryD</option>
                <option value="categoryE">categoryE</option>
            </select>
            <p>Location:</p>
            <select name="location" required>
                <option value="locationA">Location A</option>
                <option value="locationB">Location B</option>
                <option value="locationC">Location C</option>
            </select>
            <p>Item Condition</p>
            <label><input id="radioc" type="radio" class="check" value="Excellent" name="condition" checked/><font color="white">Excellent</font></label><br><br>
            <label><input id="radioc" type="radio" class="check" value="Good" name="condition" /><font color="white">Good</font></label><br><br>
            <label><input id="radioc" type="radio" class="check" value="requests" name="condition" /><font color="white">Average</font></label><br><br>
            <label><input id="radioc" type="radio" class="check" value="Fair" name="condition" /><font color="white">Fair</font></label><br><br>
            <label><input id="radioc" type="radio" class="check" value="Poor" name="condition" /><font color="white">Poor</font></label>
            <br><br>
            <input type="file" name="upload" accept=".jpg, .jpeg, .png" required>
            <button>Submit</button>
        </form>
	</div>
    </div>

    <script>
        $( "#store" ).addClass( "selected" );
    </script>

<% include partials/footer %>