<% include partials/header %>

<div class="container">
        <h1>Response to your Request</h1>
        <form action="/offers/<%= offer._id %>/response" method="POST">
            <p>Response from</p>
            <input type="text" name="responserName" placeholder="<%= offer.author.username %>">
            <p>Subject</p>
            <input type="text" name="subject">
            <p>Message from <%= offer.author.username %></p>
            <textarea name="message" rows="10" cols="30"></textarea>
            <p>Contact <%= offer.author.username %> By</p>
            <input type="text" name="contact">
            <p>Choose Time<p>
            <input type="checkbox" name="checkbox" value="Wed"><label>Wed</label><br><br>
            <input type="checkbox" name="checkbox" value="Sun"><label>Sun</label><br><br>
            <input type="checkbox" name="checkbox" value="Mon"><label>Mon</label><br><br>
            <button class="btn btn-primary">Accept Offer</button> 
        </form>
        <a class="btn btn-primary" href="/offers">Decline Offer</a>
</div>

<% include partials/footer %>
