<% include partials/header %>

    <div class="container">
        <h1>All Your Past Offers:</h1>
                <div class="indivPost">
                        <span>
                                <% var i = 0; %>
                                <% offers.forEach(function(offer){ %>
                                        <h4><%= offer.title %></h4>
                                        <a href="/offer/<%= offer._id %>" class="btn btn-primary">More Info</a>
                                        <% i++; %>
                                <% }); %>
                                <% if (i == 0) { %>
                                    <p>You do not have any past offers</p>
                                <% } %>
                        </span>
                    </div>
    </div>

        <script>
            $( "#offers" ).addClass( "selected" );
        </script>
        
        <% include partials/footer %>
        