<% include partials/header %>

<div class="container">
<p>Please pick up your items at: <% location %></p>
<br><br>
<br><br>
<button onclick="window.location.href='/store'">Back to Store</button>
</div>

<% include partials/footer %>