<% include partials/header %>
<p>Please pick up your items at: Street, Providence, Rhode Island</p>
<br><br>
<br><br>
<button onclick="window.location.href='/store'">Back to Store</button>
<% include partials/footer %>