<% include partials/header %>
<br><br>
<br><br>
<button onclick="window.location.href='/store'">Back to Store</button>
<button onclick="window.location.href='/store/new'">Post New Items</button>
<% include partials/footer %>