<% include partials/header %>
<br><br>
<br><br><div class="container">
<button class="btn btn-primary" onclick="window.location.href='/store'">Back to Store</button><br><br>
<button class="btn btn-success" onclick="window.location.href='/store/new'">Post New Items</button>
</div>
<% include partials/footer %>