<% include partials/header %>

    <div class="container">
        <h1>Requests page</h1>
        <form action="/requests/sort" method="GET">
            <h5>Filter:</h5>
            <select name="category">
                <option value="">Choose Category</option>
                <option value="categoryA">categoryA</option>
                <option value="categoryB">categoryB</option>
                <option value="categoryC">categoryC</option>
                <option value="categoryD">categoryD</option>
                <option value="categoryE">categoryE</option>
            </select>
            <button class="btn btn-primary">Apply</button>
			<br><br>
        </form>
        <div>
            <a class="btn btn-primary" href="/requests/new">Make New Request</a>
        </div>
            <div style="">
                <% requests.forEach(function(request){ %>
		<div class="indivPost">	
                    <span>
                        <h4><%= request.title %></h4>
                        <h6><%= request.desc %></h6>
                    </span>
                    <p>
                        <a href="/requests/<%= request._id %>" class="btn btn-primary">More Info</a>
                    </p>
		</div>	
                <% }); %>
            </div>
    </div>

    <script>
        $( "#requests" ).addClass( "selected" );
    </script>

<% include partials/footer %>