<% include partials/header %>

    <div class="container">
        <h1>Response Details</h1>

        <h4>Message: <%= response.message %></h4>
        <h5>Status: <% if (response.isAccepted) { %>
            Accepted</h5>
            <% } else if (!response.isAccepted) { %> Waiting approval <% } %></h5>

            <% if((currentUser && offer.author.id.equals(currentUser._id))) { %>
                <form action="/response/<%= response._id %>" method="POST">
                    <button class="btn btn-danger">Accept Offer</button>
                </form>
            <% } %>

        <a href="/offers/<%= offer._id %>/response ">Go Back</a>
    </div>

    <script>
        $( "#Offer" ).addClass( "selected" );
    </script>

<% include partials/footer %>