<% include partials/header %>

<div class="container">
<div id="userProfile">
<h1> <%= user.username %>! </h1>
<img src="/static/images/noProfilePic" width="100px" height="100px">
<div id="hoursSection">
<h4> Hours: <%= user.userHours %> </h4>
</div>
<div id="infoSection">
<p>Contact me: </p>
<p></p>
</div>
</div>
</div>

<script>
    $( "#members" ).addClass( "selected" );
</script>

<% include partials/footer %>
