
body {
    margin-top: 70px;
    height: 100%;
    background-image: linear-gradient(to top, #287420, #298620, #29981f, #29ab1d, #28be19);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
}

ul#bootstrap-overrides>li>a {
    font-size: 115%;
    color: #666;
}

ul#bootstrap-overrides>li.selected>a {
    font-size: 115%;
    color: #37a000
}

ul#bootstrap-overrides>li>a:hover {
    color: #37a000
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}

.navbar {
    position: fixed;
    z-index: 9999;
    left: 0px;
    right: 0px;
    top: 0px;
}

h1 {
    margin: 70px auto 30px auto;
    text-align: center;
    text-shadow: 2px 2px 10px black;
    font-family: 'Open Sans', sans-serif;
}

h3{
	color:#444444;
}

h4 {
    font-family: Arial, sans-serif;
    
}

h5 {
    color: white;
        font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-shadow: 0px 0px 15px black;
}

h6 {
    font-family: 'Open Sans', sans-serif;
}

/* ----------------- Landing Page ----------------- */

#landingPageEntirety {
    background-image: url("/static/images/furniture.jpg");
    background-color: lightyellow;
   /*background: rgba(76, 175, 80, 0.7);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 30px 100px 150px 100px;
    margin: -8px -8px -8px -8px;
    color: white;
}

/*#landingPageCover {
    background: rgba(255, 255, 255, 0.3);
    padding: 0 0 0 40px;
}*/

#landingHeader {
    margin-right: 200px;
    width: 500px;
    display: inline-block;
    color: white;
}

#landingHeader h1 {
    /*font-family: 'Merienda One', cursive;*/
    font-family: 'Open Sans', light;
    font-size: 96px;
    /*text-shadow: 0px 10px 90px grey;*/
    text-align: left;
    text-shadow: 0px 0px 15px grey;
}

#landingLoginBox h2 {
    color: green;
    font-family: 'Glegoo', serif;
    padding: 0 0 0 95px;
    font-size: 24px;
}

#landingLoginBox form {
    padding: 0 0 0 10px;
}

#landingLoginBox input {
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 2px;
    border-style: solid;
    border-color: lightgrey;
    width: 71%;
}

#landingLoginBox button {
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    padding: 10px 10px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 2px;
}

#landingLoginBox a {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    margin-top: 5px;
    margin-left: 92px;
    padding: 8px 10px;
    border-radius: 2px;
    font-size: 14px;
}

#landingLoginBox a:hover {
    background-color: #2D9434; 
}

#landingLoginBox button:hover {
    background-color: #2D9434; 
}

#landingLoginBox {
    margin-top: 140px;
    padding: 30px 0 50px 50px;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    border: solid 1px darkgrey;
    /*background: rgba(255, 255, 255, 0.85);*/
    /*background: rgba(0,0,0,0.6);*/
    background: linear-gradient(to bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.9));
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#landingSignUp {
    margin: 20px 20px 0 80px;
    color: green;
}

/* ------------ Post Login Home Page ------------ */

.listingBoxH {
    padding: 20px;
    border: solid white;
    border-radius: 10px;
    margin: 10px;
    width: 95.5%;
    min-width: 450px;
}

.listingBoxV {
    padding: 20px;
    border: solid white;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;
    width: 47%;
    min-width: 450px;
}

.listingBoxH ul {
    margin-top: 20px;
    list-style-type: none;
}

.listingBoxH li {
    margin-top: 5px;
    margin-right: 24px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    color: black;
    opacity: 0.8;
}

.listingBoxV ul {
    margin-top: 20px;
    list-style-type: none;
}

.listingBoxV li {
    margin-top: 5px;
    margin-right: 24px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    color: black;
    opacity: 0.8;
}


/* -------  Offers, Requests Main Pages ------ */
.indivPost {
    margin: 0px auto 20px auto;
    border-radius: 10px;
    border: solid white;
    padding: 20px 50px 5px 50px;
/* display: inline-block;
    width: 25%; */
}

.indivPost a {
    background-color: white;
    color: blue;
    border: solid white;
    padding: 2px 10px 2px 10px;
}

.indivPost a:hover {
    background-color: blue;
    border: solid blue;
}

.indivPost:hover {
    background-color: white;
    opacity: 0.9;
    color: black;
}

.indivPost:hover a {
    background-color: #5bc0de;
    opacity: 0.9;
    color: white;
    border: solid #5bc0de;
}

.indivPost:hover a:hover {
    background-color: blue;
    border: solid blue;
}


/* ---- Login Page ---- */

#loginPage {
    text-align: center;
}
#loginPage form {
    margin: 0px auto 0px auto;
    background-color: white;
    border-radius: 10px;
    border: solid 2px white;
    padding: 50px 25px 50px 25px;
    text-align: left;
    width: 400px;
}

#loginPage input {
    border-radius: 2px;
    border: solid 1px lightgrey;
    padding: 10px 20px;
    margin-left: 30px;
    width: 80%;
}

#loginPage button {
    background-color: #4CAF50;
    color: white;
    border-radius: 2px;
    margin-left: 30px;
    width: 80%;
    padding: 7px 0;
}

#loginPage button:hover {
    background-color: #2D9434;
}

#backbutton {
    position: absolute;
    left: 20px;
    top: 20px;
}

/* ---- Sign up Page --- */

#registration {
    margin: 0;
    padding: 0 0 170px 0;
    /*background-image: linear-gradient(to top, #4b40bc, #3c53c3, #3163c8, #3071c9, #397ec9);*/
    background-image: linear-gradient(to top, #287420, #298620, #29981f, #29ab1d, #28be19);
}

#signupBox {
    margin: 0px auto;
    text-align: center;
}

#signupBox h2 {
    font-family: 'Glegoo', serif;
}

#signupBox form {
    padding: 0 20px 0 20px;
    font-family: 'Open Sans', sans-serif;
}

#signupBox input {
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 2px;
    border-style: solid;
    border-color: lightgrey;
    width: 90%;
}

#signupBox button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    margin: 20px 0 20px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    border-radius: 2px;
}

#signupBox button:hover {
    background-color: #2D9434; 
}

#signupBox hr {
    background-color: white;
    height: 1px;
    width: 80%;
    margin-bottom: 50px;
}

#signupBox {
    margin-top: 140px;
    border-radius: 10px;
    padding: 30px 0 50px 0;
    width: 310px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

#backButton {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}

/* --- new Posts ---  */

.newPostForm {
    margin: 30px 0 0 0;
    border-radius: 10px;
    padding: 70px 0 50px 0;
    text-align: center;
    min-width: 310px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.newPostForm input {
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 2px;
    border-style: solid;
    border-color: lightgrey;
    min-width: 280px;
    width: 50%;
}

.newPostForm button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    margin: 20px 0 20px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    min-width: 280px;
    border-radius: 2px;
}

/* -------- messageHome ---------- */
#chatId {
    display: none;
}

#startNewChat {
    text-align: center;
}

#allChats {
    text-align: center;
}

.indivChat a {
    margin-top: 10px;
    border-radius: 10px;
    border: solid white;
    background-color: white;
    padding: 5px 50px 5px 50px;
}

.indivChat a:hover {
    color: white;
    background-color: #5bc0de;
}

/* -------- messages ---------- */

#messagesPage h4 {
}

#messagesPage {
    text-align: center;
    margin: 50px auto 50px auto;
}

#messageList {
    padding: 10px;
    max-height: 510px;
    min-height: 510px;
    background-color: #D3D3D3;
    border: solid 1px darkgrey;
    overflow-y: auto;
    border-bottom: solid white;
    color: black;
    border-radius: 3px;
}

.indivMessage {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
    width: 70%;
    margin-left: 5%;
}

#chatbox {
    text-align: left;
    padding: 10px;
    background-color: white;
    border: solid 2px white;
    margin: 50px auto 50px auto;
    width: 800px;
    height: 600px;
    position: relative;
    border-radius: 3px;
}

#userTypingSection {
    position: absolute;
    bottom: 20px;
    margin-left: 180px;
}

#message {
    width: 400px;
    padding: 8px;
    border: 1px solid grey;
}

#messagesPage #submitButton {
    background-color: #29981f;
    color: white;
    border: none;
    padding: 9px 12px;
}

#messagesPage #submitButton:hover{
    background-color: #287420;
}

/* -------- account ---------- */

#userbio{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    width:200px;
    color: black;
}

#userinfo{
    text-align:center;
    margin-top: 20px;
}

#editinfo{
	float:right;
}

div.footer-navbar-wrapper {
    background-color: #494949;
    position: relative;
    bottom:0;
    width:100%;
    margin-top: 100px;
    padding-top:50px;
    padding-bottom:100px;
    -webkit-box-flex: 0;
    flex: none;

}

ul.list-unstyled>li>a {
    font-family: 'Open Sans', sans-serif;
    color: rgb(160, 158, 158);
}

div.container {
    min-height:100%;
    position:relative;
}

#statement {
    background-color: white;
}

#statement h5 {
    color: green;
    text-shadow: none;
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
}

#userHistoryTable {
    color: black;
}

#userHistoryTable tr {
    border-bottom: 1px solid lightgrey;
}

#userHistoryTable th {
    color: green;
    padding: 0px 18px 0px 18px;
    text-align: left;
}

#userHistoryTable td {
    padding: 0px 18px 0px 18px;
    text-align: left;
}

#entryAction{
    text-align: left;
}

#editProfileLink {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

#linkHome {
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px 10px;
}

#profileImg {
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

#topSeg {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0px;
    text-align: center;
}

.topSegPart {
    display: inline-block;
    width: 32%;
    padding: 10px;
    vertical-align: top;
}

 /*  ------ specs for showOfferResponse ----- */

 #completionButton {
     background-color: blue;
     border: blue;
 }

 #completionButton:hover {
     background-color: darkblue;
     border: blue;
 }

 #backButton2 {
     padding: 10px 20px;
     background-color: blue;
     border: blue;
     border-radius: 7px;
     color: white;
 }

 #backButton2:hover {
     background-color: darkblue;
     border: darkblue;
 }

 .offerDetails p {
     
 }

 /* ----- Searchform part of navbar ---- */

 #searchForm {
     padding: 0px 10px 0px 10px;
     border-left: 1px solid darkgrey;
     border-right: 1px solid darkgrey;
 }
 
 #searchBtn {
     margin-left: 0px;
 }

 #searchTypesBlock {
     text-align: left;
 }

 #searchTypesBlock .searchTypes {
     text-align: left;
     display: block;
 }

 #searchTypesBlock .searchTypes .check {
     text-align: left;
 }

 .navbar-nav:hover .dropdown-menu{
     display: block;
 }

 .navbar-nav {
     margin-left: 30px;
 }
